.full-component {
    width: 1024px;
    margin: auto;
    height: 200px;
    padding: 1px 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #a5a5a5;
	position: relative;
	margin-bottom: 30px;
	cursor: pointer;

	.image {
		position: absolute;
		width: 30%;
		height: 100%;
		left: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.body {
		position: absolute;
		width: 69%;
		height: 100%;
		right: 0;
		border-radius: 0px 5px 5px 0px;

		.rent {
			position: absolute;
			width: 99%;
			height: 25%;
			color: #444444;

			p {
				font-size: xx-large;
				margin-top: 10px;
				margin-left: 20px;
			}

			span {
				font-size: medium;
			}
		}

		.description {
			position: absolute;
			width: 99%;
			height: 33%;
			top: 37%;

			p {
				margin-top: 0px;
				color: #6f6f74;
				margin-left: 20px;
			}
		}

		.immobile-data {
			position: absolute;
			width: 99%;
			height: 38%;
			bottom: 0;
			color: #6f6f74;
			margin-left: 20px;

			p {
				margin-top: 3px;
    			margin-right: 15px;
			}

			.address-name {
				position: absolute;
				top: 0;
				width: 100%;
			}

			.immobile-info {
				position: absolute;
				bottom: 0;
				display: flex;

				p {
	    			margin-left: 5px;
				}
			}
		}

	}
}

.full-component:hover {
    box-shadow: 0px 7px 20px #a5a5a5;
}