<div class="full-component">
	<div class="image">
		<slider-images [imageUrl]="imageUrl"></slider-images>
	</div>
	<div class="body">
		<div class="rent">
			<p><strong>{{rent}}</strong> <span>/mês</span></p>
		</div>
		<div class="description">
			<p>{{description}}</p>
		</div>
		<div class="immobile-data">
			<div class="address-name">
				<p>{{immobileData.addressName}}</p>
			</div>
			<div class="immobile-info">
				<span class="material-icons">
					aspect_ratio
				</span>
				<p>{{immobileData.usableArea}}</p>
				<span class="material-icons">
					single_bed
				</span>
				<p>{{immobileData.rooms}}</p>
				<span class="material-icons">
					directions_car
				</span>
				<p>{{immobileData.garages}}</p>
				<span class="material-icons">
					water_damage
				</span>
				<p>{{immobileData.bathrooms}}</p>
			</div>
		</div>
	</div>
</div>