.slideshow-container {
	max-width: 500px;
	margin: auto;

	.mySlides {
		display: none;

		img {
			height: 200px;
			max-height: 200px;
		}

		.numbertext {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}
	
		.text {
			color: black;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 0px;
			width: 100%;
			text-align: center;
		}
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}
	
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}
}

.dots {
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
	
	.active, .dot:hover {
		background-color: #717171;
	}
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
