<div class="slideshow-container">

    <div *ngFor="let url of imageUrl, index" class="mySlides fade">
        <div class="numbertext">{{slideIndex}} / {{imageUrl.length}}</div>
        <img [src]="url" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
